h1 {text-align:center; color:#0000FF; font-family:Verdana;font-size:20pt;}
h2 {text-align:right; color:#800000; font-family:Verdana;font-size:16pt}
p  {text-align:justify; color:#191970; font-family:Arial; font-size:12pt; font-weight:bolder;}
body{background-color:#99CCFF}
h3 {text-align:left; color:#0000FF; font-family:Times New Roman;font-size:15pt}
ol{list-style-type: upper-roman;}
li{color:#800000;font-weight:bolder;}
ul{list-style-image:url(spisok_1.gif);}
body{background-image:url(fon9.jpg);}



h1.main,h1.golub,h1.krasn,h1.zelen,h1.oranzhev{
	color:navy; font-family: Verdana; text-align: left; font-size: 14pt
}
h1.main{color:navy;s}
h1.golub{color:blue;}
h1.krasn{color:red;}
h1.zelen{color:green;}
h1.oranzhev{color:orange;}
p.FirstParagraph{text-align: center;}
p.SecondParagraph{text-align: left; color: blue;}
p.ThirdParagraph{text-align: right; color: red; font-family:Times New Roman}
p.FourthParagraph{text-align: left; color: green; font-weight:bolder}
p.FifthParagraph{text-align: center; color: orange; font-weight: revert;}